body {
    text-align: center;
    font-family: 'Coda', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
  margin: 10px;
}

.canvas {
  margin-top: -50px;
}
